.about-container {
  text-align: start;
  margin: 4rem 6rem;
}
.about-container h1 {
  padding-bottom: 1rem;
}
.about-container p {
  padding-bottom: 2rem;
}
.about-container ul {
  font-weight: bold;
  list-style: none;
}
.about-container ul li {
  padding: 1rem 0;
}
li i {
  padding-right: 1rem;
}

@media screen and (max-width: 850px) {
  .about-container {
    margin: 4rem 2rem;
  }
}
