
@media screen and (max-width: 850px) {
  .form-container {
    flex-direction: column-reverse;
    margin: 4rem 2rem;
  }
  .info-contact {
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
    width: 90%;
    height: 100%;
  }
  .social i {
    margin: 1rem 1rem;
    padding: 1rem 0;
  }
  .form-container form {
    padding-top: 2rem;
    width: 90%;
  }
}
